{% extends "main/base.html" %}
{% block content %}
    <h1 class = 'text-center'> ATM Machine </h1>
    <div class = 'container'> 
        <div class = 'justify-content-center'> 
            <!-- <a href = '#' class = 'text-decoration-none'> <button class = 'btn btn-primary m-4'> Admin </button> </a> 
            <a href = '#' class = 'text-decoration-none'> <button class = 'btn btn-primary m-4'> User </button> </a> -->
            <a href = "{% url 'admin-home' %}" class = 'text-decoration-none btn btn-primary m-5'> Admin </a> 
            <a href = "{% url 'user-home' %}" class = 'text-decoration-none btn btn-primary m-5'> Cardholder </a> 
        </div> 
    </div>
{% endblock content %}